.detail-box {
  display: flex;
  margin: 3rem auto 0;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  max-width: 70rem;
}

.go-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: white;
  font-size: 3rem;
}

.section {
  margin: 1rem;
  font-size: 1.6rem;
}